

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %><li>
    <% end %>
  </ul>
<% end %>      

<div class="login-form">
  <h2 class="title">註冊</h2>
  <div class="subtitle">
    Welcome !
  </div>
  <%= form_with model: @user do |user| %>
    <div class="form-box">
    <%= user.label " " %>
    <%= user.text_field :email , placeholder: "email" %>
    </div>
    <div class="form-box">
      <%= user.label " " %>
      <%= user.password_field :password , placeholder: "password" %>
    </div>
    <div class="form-box">
      <%= user.label " " %>
      <%= user.password_field :password_confirmation , placeholder: "password_confirmation" %>
    </div>
    <%= user.submit "Create" ,class:"button"%>
  <% end %>
</div>  



